</body>
</html><center>
<h1>Welcome to Cookie Monster's Cookie Jar!!!</h1>
<h3>Your guide to find the cookie that right for you.</h3>
<img src ="https://i.pinimg.com/564x/76/aa/bf/76aabf2f06373292b4f63a9e05fd274e.jpg" alt="Image" height="200" width="200">

<p> <br><h5> Please <%= link_to "Sign Up", signup_path %> or <%= link_to "Login", login_path %> to continue.</h5></center>

 <center><h5>Log in with <%= link_to "Github", "/auth/github" %></h5>
</p>