</body>
</html><center>
<h1>Welcome to Cookie Monster's Cookie Jar!!!</h1>
<h3>Your guide to find the cookie that right for you.</h3>
<img src ="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcRkxgjv5lX9VwRXBj1B5GAGBQs5IGmsB8SFJiG9FTg6iagTxhG5J8R1HHf3ckpXH-za0Cs9f2kF_CXPQcGu9IjXR9HhedaxyagXp4cXZryW0Jv09rZb-dQj&usqp=CAc" alt="Image" height="200" width="200">

<p> <br><h5> Please <%= link_to "Sign Up", signup_path %> or <%= link_to "Login", login_path %> to continue.</h5></center>

 <center><h5>Log in with <%= link_to "Github", "/auth/github" %></h5>
</p>