</body>
</html><center>
<p style = "font-family:impact;font-size:40px;font-style:bold;">
       
      
Welcome to Cookie Monster's Cookie Jar!!!</p>
<p style = "font-family:impact;font-size:25px;font-style:bold;"> Your guide to find the cookie that right for you.</p>
<img src ="https://i.pinimg.com/originals/d2/69/0e/d2690e83fac421c796f0f4a1251b9bb7.png" alt="Image" height="400" width="500">

<p style = "font-family:impact;font-size:15px;font-style:bold;">
<br> Please <%= link_to "Sign Up", signup_path %> or <%= link_to "Login", login_path %> to continue.
<p style = "font-family:impact;font-size:15px;font-style:bold;">
 Log in with <%= link_to "Google", "/auth/google_oauth2" %> or <%= link_to "Github", "/auth/github" %></center>
</p>