<h1> <p style = "font-family:impact;font-style:bold;"> Welcome Cookie Monster: <%= @user.username %>!</h1>
<h3> <p style = "font-family:impact;font-style:bold;">Lets make a <%= link_to "new cookie", new_cooky_path %>!!! </h3>