
<h1><p style = "font-family:impact;font-style:bold;"> List all cookies in the Jar here. </h1>

<ol>
  <% @cookie.each do |cookies| %>
   <li style = "font-family:impact; font-style:bold;" 
   <%= cookies.flavour %> - Brand: <%= cookies.brand[:name] %></li>
   <i>
    <p style = "font-family:impact;font-size:15px;"> 
     Description: - <%= cookies.description %></i><br>
    <%= link_to "Write a review", new_cooky_review_path(cookies.id)%></p>
  <% end %>