  
<h1 style = "font-family:impact;font-style:bold;">All the Brands in cookie jar here</h1>


<ol>
  <% @brand.each do |brands| %>
    <li style = "font-family:impact;font-style:bold;"><%= brands.name %></li>
  <% end %>
</ol>
