<h1> <p style = "font-family:impact;font-style:bold;">All reviews about cookies here! </h1>

<ol>
<% @reviews.each do |review| %>
<li style = "font-family:impact;font-style:bold;">
<%= review.cookie.flavour %> - <%= review.rating %>
<p> 
<p style = "font-family:impact;font-style:bold;"> - <%= review.content %>
<% end %>
</ol>